/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100;400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@100;400&display=swap");

.body h1 {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 25px;
  /* min-height: 32px; */
  font-family: "Roboto Slab", "Times New Roman", "serif";
}

.body h2 {
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 25px;
  /* min-height: 32px; */
  font-family: "Roboto Slab", "Times New Roman", "serif";
}

.body h4 {
  /* color: #3c4858;
  margin-top: 0.625rem;
  min-height: auto;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  margin-bottom: 0.75rem;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.5em;
  box-sizing: border-box;
  letter-spacing: normal !important;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  color: #3c4858;
  margin-top: 0.625rem;
  min-height: auto;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  margin-bottom: 0rem;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.5em;
  box-sizing: border-box;
  letter-spacing: normal !important;
  display: block;
}

/* .body p,
h5 {
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-size: 300;
  line-height: 1.5em;
} */
.body h5 {
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  color: #999;
  font-weight: 400;
  word-spacing: normal;
  letter-spacing: normal !important;
  font-size: 1.0625rem;
  line-height: 1.55em;
  text-align: center;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.body h6 {
  color: #6c757d !important;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
  letter-spacing: normal !important;
}

.body p {
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  color: #999;
  font-weight: 400;
  word-spacing: normal;
  letter-spacing: normal !important;
  font-size: 14px;
  line-height: 1.55em;
  text-align: center;
  box-sizing: border-box;
  margin: 0 0 10px;
  /* text-align: left; */
  -webkit-font-smoothing: antialiased;
}

.body a {
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  word-spacing: normal;
  letter-spacing: normal !important;
  font-size: 14px;
  line-height: 1.55em;
  text-align: center;
  box-sizing: border-box;
  margin: 0 0 10px;
  /* text-align: left; */
  -webkit-font-smoothing: antialiased;
}
